body{
    background-color: #fff1e6;
}
/* NAVBAR */

/* CAROUSSEL */
.bandeau-entier {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caroussel {
    width:640px;
    overflow: hidden;
}

.images-caroussel {
  width: 640px;
  height: 360px;
  display: flex;
  animation-duration: 20s;
  animation-name: defilementBandeau;
  animation-iteration-count: infinite;
}

@keyframes defilementBandeau {
    0% {
        transform: translateX(0);
    }
    25% {
        transform:translateX(-640px);
    }
    50% {
        transform: translateX(-1280px);
    }
    75% {
        transform: translateX(-1920px);
    }
    100% {
        transform: translateX(0);
    }
}

/* CONTENU PRINCIPAL */

h1{
    text-align: center;
}
.main-content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    background-color: #f0ebfa;
    
}

.presentation, .fonctionnement {
    padding: 15px;
    margin:15px;
    border-radius: 25px;
    background-color: #e0d6f5;
}
.info-circle{
    border-radius: 10px 100px / 120px;
    background-color:#d1c2f0;
    align-items: center;
    padding: 15 15 15 45;

}

.presentation .favorite-styled{
   float: right;
}

/*CODE CSS POUR ECRANS PLUS GRAND*/

@media screen and (min-width : 700px) {
}
/* PAGE LES-COURS */
