*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #fff1e6;
    height:100%;
}
/* NAVBAR */
.navbar-brand{
    font-size: 4rem;
    text-shadow: 1px 1px 2px black;
}

h1 {
      color: #ffcccc;
      text-shadow: 1px 1px 2px black; 
      font-style: italic;
      text-align: center;
    }
   
@media screen and (max-width : 576px) {
 h1{
     display:none;
 }
}

/* CAROUSEL BOOTSTRAP*/

/* CONTENU PRINCIPAL */

/* PARTIE PRESENTATION */

.main-content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
    
.presentation {
    display: flex;
    padding: 15px;
    margin:15px;    
}

.text-presentation{
    align-self: center;
    text-align: center;
}
.img-presentation {
   width:auto;
   height: 300px;
   border-radius: 50%;
   float:left;
   margin: 0 15px 15px 0
    }

 .presentation {
    display: flex;
    padding: 15px;
    margin:15px;
         
    }
    
 .text-presentation{
    align-self: center;
    text-align: center;
    font-size: 1.7rem;
    color:#660000;
    font-style: italic;

    }

 @media screen and (max-width : 700px) and (orientation:portrait){
        .img-presentation{
            display: none;
        }
    }
       
 /* PARTIE INFO CIRCLE */
  
.info-circle{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: space-between;
    font-size: 1.5rem;
    font-style: italic;
    color: #660000
    ;
}

.info-circle1{
    margin: 20px;
    padding:20px;
    text-align: center;
    border: 0.1em solid #660000;
    width:20em;
    height: 10em;
    border-radius: 15%;
    
}

.info-circle2{
    margin: 20px;
    padding:20px;
    text-align: center;
    border: 0.1em solid #660000;
    width:20em;
    height: 10em;
    border-radius: 15%;
}

 /* PARTIE FONCTIONNEMENT */

.fonctionnement{
    padding: 30px;
    background-image: url(photos-site-yoga/yoga-sunset.jpg);
    background-size: cover;
    background-position: bottom;
    column-count: 2;
    color:#660000;
    font-weight:400;
    
}

.fonctionnement .favorite-styled{
   float: right;
   padding:5px;
   background-color: #ffcccc;
   border-radius: 25%;
   cursor:pointer;
   color:beige;
   
}

/*CODE CSS POUR ECRANS PLUS GRAND*/

@media screen and (min-width : 700px) {
 
}

/* FOOTER */
.footer{
    position:absolute;
    width:100%;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background-color: #FDF5E6;
    padding: 15px;
    margin-top: 15px;
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: end;
    grid-template-areas: 
    "adresse inscription contact"
    ". social .";
}   

.adresse{
    grid-area: adresse;
    font-weight: bold;
    -webkit-box-shadow: 1px 4px 7px 3px #000000; 
    box-shadow: 1px 4px 7px 3px #000000;
    color:black;
    text-shadow: 4px 2px 2px #CEC7A3;
    padding: 10px;
    border-radius: 15%;
}

.inscription{
    grid-area: inscription; 
}

.social-media{
    grid-area: social;
}

.contact{
    grid-area:  contact;
    font-weight: bold;
    -webkit-box-shadow: 1px 4px 7px 3px #000000; 
    box-shadow: 1px 4px 7px 3px #000000;
    color:black;
    text-shadow: 4px 2px 2px #CEC7A3;
    padding: 10px;
    line-height: 2em;
    border-radius: 15%;

}

.footer .inscription .favorite-styled {
    padding : 15px;
    border-radius: 25%;
    
}

/* PAGE LES-COURS */
.bandeau-principal{
    background-image: url(photos-site-yoga/guerrier.jpg);
    width: auto;
    height: 400px;
    background-size: cover;
    background-position: center;
    }


.teacher-pic{
    width:auto;
    height: 150px;
    border-radius: 50%;
    float:left;
    margin: 0 15px 15px 0
}

.all-classes{
    display: flex;
    flex-direction: column;
}

.classes {
    margin-top: 30px;
}

.favorite-styled{
    float:right;
    padding:5px;
    margin-right: 15px;
}

/* PAGE ATELIER */
.bandeau-atelier{
    background-image: url(photos-site-yoga/torsions-a-deux.jpg);
    width: auto;
    height: 400px;
    background-size: cover;
    background-position: center;
    }

    .all-atelier{
        padding:15px;
        margin-bottom: 20px;
    }


/* PAGE INCRIPTION */
.bandeau-inscription{
    background-image: url(photos-site-yoga/chien-tete-en-haut.jpg);
    width: auto;
    height: 400px;
    background-size: cover;
    background-position: center;
    }

 